<div class="products container-fluid">
    <div class="flexbox row">
        <div class="product col-xl-4 col-lg-4 col-md-6 col-sm-8" *ngFor="let prod of products" >
            <div class="productPalet">
                <img src={{prod.img}} alt="Image of product">
                <h3 class="p-2">{{prod.name}}</h3>
                <h4 class="p-2">Cost {{prod.cost}}</h4>
                <h1 class="p-2 ">Quantity {{prod.qty}}</h1>
                <div class="flex-row align-items-center justify-content-around">
                    <button class="p-2 btn btn-primary" (click)="add(prod.name)">ADD</button>
                    <button class="p-2 btn btn-primary" (click)="viewDetail(prod)">View Details</button>  
                    <button class="p-2 btn btn-primary" (click)="subtract(prod.name)">SUBTRACT</button>
                </div>  
            </div>
        </div>
        <h1 *ngIf="products.length < 1;"> Cart is Empty</h1>
    </div>

    <button class="p-2 btn btn-primary" routerLink="/">Continue Shopping</button>
</div>